.note {
    text-align: center;
    width: 100%;
    color: #ac7201;
}
.info{
    text-align: center;
    font-size: 12px;
    color: #948b79;
}
.chart{
    margin: 10px 0px;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
}